html {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
body {
	width: 960px;
	height: 100%;
	overflow: hidden;
}

.header {
	display: flex;
	flex-flow: row wrap;
	border: 1px solid black;
}

.logoByline {
	display: flex;
	flex-flow: column wrap;
}

.mainNav {
	margin-left: auto;
}

.mainNav .navList{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.navItem {
	cursor: pointer;
	list-style: none;
}

.mainNavitem {
	padding: 1em;
}

.subNavlist {
	display: none;
}

.mainNavitem:hover > .subNavlist {
	display: flex;
	flex-flow: column wrap;
	position: absolute;
	margin-left: -2.5em;
}

.subNavitem {
	padding: 0.5em;
}